@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Arial";
  font-weight: 400;
  line-height: 24px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  transition: all 0.5s ease-out;
}

.header__logo-link {
  text-decoration: none;
}
.header__logo-link .header__title {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.header__logo-link .header__subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fff;
  padding-left: 4px;
  padding-top: 10px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.header__nav .header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin: 0;
  padding: 0;
}
.header__nav .header__list .header__item {
  list-style-type: none;
}
.header__nav .header__list .header__item .header__links {
  text-decoration: none;
  color: #CDCDCD;
}
.header__nav .header__list .header__item .header__links:hover {
  transition: 0.5s all ease-in-out;
  color: #FAFAFA;
}
.header__nav .header__list .header__item .header__links .links__first {
  color: #FAFAFA;
  padding-bottom: 3px;
  border-bottom: 3px solid #F1CDB3;
}

.header__burger {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0%;
}

.burger__line_second {
  top: 50%;
}

.burger__line_three {
  top: 100%;
}

.wrapper__background {
  background: url(../../asetts/images/background__main.png) no-repeat;
  background-size: cover;
}

.not_only {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
}
.not_only .left__section .left__section-title {
  font-family: "Georgia";
  font-size: 44px;
  line-height: 57px;
  max-width: 310px;
  color: #FFFFFF;
  font-weight: 400;
  margin: 0;
  margin-top: -82px;
}
.not_only .left__section .left__section-subtitle {
  color: #CDCDCD;
  max-width: 460px;
  margin: 42px 0 42px;
}
.not_only .left__section .left-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 207px;
  height: 52px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  background: #F1CDB3;
  border-radius: 100px;
  border: 0;
}
.not_only .left__section .left-section-button:hover {
  background-color: #FDDCC4;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.not_only .left__section .left-section-button .left-section-button_link {
  text-decoration: none;
  color: #292929;
}
.not_only .right__section {
  display: flex;
}

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin: 80px 0 100px;
  /* .about__us{
       background-size: cover;
   } */
}
.about__wrapper .about__title {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 370px;
  margin: 0;
}
.about__wrapper .about__subtitle {
  color: #4C4C4C;
  max-width: 430px;
  margin: 25px 0 25px;
}
.about__wrapper .about__description {
  color: #4C4C4C;
  max-width: 430px;
}

.our {
  background: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px;
}
.our .our__title {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  display: flex;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 0;
  margin-bottom: 60px;
}
.our .our__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 261px;
  height: 52px;
  font-family: "Georgia";
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  margin: 0 auto;
}
.our .our__button:hover {
  background: #FDDCC4;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.our .our__button .our__button-link {
  color: #292929;
  text-decoration: none;
}

.wrapper__dog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 60px;
}
.wrapper__dog .arrow__left {
  width: 48px;
  height: 48px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper__dog .arrow__left:hover {
  background: #FDDCC4;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.wrapper__dog .card {
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper__dog .card .card__title {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin: 30px 0 30px;
}
.wrapper__dog .card .card__button {
  width: 187px;
  height: 52px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: none;
  margin-bottom: 30px;
}
.wrapper__dog .card .card__button:hover {
  background: #FDDCC4;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.wrapper__dog .card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  transition: 0.5s all ease-in-out;
}
.wrapper__dog .card:hover .card__button {
  background: #FDDCC4;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.help__title {
  max-width: 310px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 55px;
  margin-bottom: 100px;
}
.benefits .benefits__card .cards {
  display: block;
  margin: 0 auto;
}
.benefits .benefits__card .benifits__title {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-top: 30px;
}

.donation {
  background: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px;
}

.dontation__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.right__section-donat {
  font-family: "Georgia";
  letter-spacing: 0.06em;
  color: #545454;
}
.right__section-donat .donation__title {
  max-width: 300px;
  font-size: 35px;
  font-weight: 400;
  margin: 0;
  line-height: 45px;
}
.right__section-donat .donation__subtitle {
  font-size: 15px;
  line-height: 17px;
  margin: 20px 0 20px;
}
.right__section-donat .donation__card-pay {
  font-size: 20px;
  line-height: 23px;
  background: #F1CDB3;
  border-radius: 9px;
  height: 43px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.right__section-donat .donation__card-pay:hover {
  background: #FDDCC4;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.right__section-donat .donation__card-pay::before {
  display: block;
  content: "";
  background-image: url(../../asetts/icon/credit-card.svg);
  width: 30px;
  height: 23px;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
  margin-right: 15px;
}
.right__section-donat .donation__card-pay .pay__links {
  text-decoration: none;
  color: #545454;
}
.right__section-donat .donation__description {
  max-width: 380px;
  font-family: "Arial";
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  letter-spacing: 0;
}

.footer {
  background: url(../../asetts/images/background__footer.png) no-repeat;
  background-size: cover;
  padding-top: 56px;
}
.footer .footer__description-one {
  font-family: "Georgia";
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 23px;
}
.footer .footer__description-one .description__title {
  max-width: 278px;
  font-size: 35px;
  line-height: 45px;
  color: #FFFFFF;
}
.footer .footer__description-one .description__email {
  color: #F1CDB3;
  display: flex;
  align-items: center;
  margin: 40px 0 40px;
}
.footer .footer__description-one .description__email::before {
  display: block;
  content: "";
  background-image: url(../../asetts/icon/icon-email.svg);
  width: 40px;
  height: 32px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}
.footer .footer__description-one .description__email .email__link {
  color: #F1CDB3;
  text-decoration: none;
}
.footer .footer__description-one .description__phone {
  color: #F1CDB3;
  display: flex;
  align-items: center;
}
.footer .footer__description-one .description__phone::before {
  display: block;
  content: "";
  background-image: url(../../asetts/icon/icon-phone.svg);
  width: 40px;
  height: 32px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}
.footer .footer__description-one .description__phone .phone__links {
  color: #F1CDB3;
  text-decoration: none;
}
.footer .footer__description-one .description__adres {
  color: #F1CDB3;
  max-width: 302px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .footer__description-one .adres-one {
  margin: 34px 0 32px;
}
.footer .footer__description-one .adress_link {
  color: #F1CDB3;
  text-decoration: none;
}
.footer .footer__wrapper {
  display: flex;
  gap: 160px;
}

@media screen and (max-width: 1160px) and (min-width: 768px) {
  .wrapper {
    max-width: 708px;
  }
  .not_only {
    flex-direction: column;
    margin-top: 60px;
  }
  .not_only .left__section .left-section-button {
    margin: 0 auto;
  }
  .not_only .left__section .left__section-title {
    margin-top: 0;
  }
  .not_only .right__section {
    margin-top: 100px;
  }
  .not_only .right__section .right__section-img {
    max-width: 81.52%;
    margin-left: auto;
  }
  .about__wrapper {
    gap: 80px;
  }
  .wrapper__dog {
    justify-content: flex-start;
  }
  .wrapper__dog .card:nth-child(4) {
    display: none;
  }
  .wrapper__dog .card:nth-child(2) {
    margin-right: 40px;
    margin-left: 12px;
  }
  .wrapper__dog .card:nth-child(3) {
    margin-right: 12px;
  }
  .benefits {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .benefits .benefits__card {
    width: 170px;
  }
  .dontation__wrapper {
    flex-direction: column;
    gap: 60px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer .footer__wrapper {
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-around;
    row-gap: 65px;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .wrapper {
    max-width: 300px;
  }
  .header__wrapper {
    max-width: 280px;
    margin: 0 auto;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .not_only {
    flex-direction: column;
    margin-top: 60px;
  }
  .not_only .left__section .left-section-button {
    margin: 0 auto;
  }
  .not_only .left__section .left__section-title {
    margin-top: 0;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
  .not_only .left__section .left__section-subtitle {
    text-align: center;
  }
  .not_only .right__section {
    margin-top: 105px;
  }
  .not_only .right__section .right__section-img {
    max-width: 86.7%;
    margin-left: auto;
  }
  .about__wrapper {
    gap: 42px;
    margin: 42px 0 42px;
  }
  .about__wrapper .about__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    max-width: 293.8px;
  }
  .about__wrapper .about__subtitle {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 22px;
    text-align: justify;
    max-width: 270px;
  }
  .about__wrapper .about__description {
    margin: 0 auto;
    text-align: justify;
    max-width: 270px;
  }
  .about__wrapper .dog__about {
    display: block;
    max-width: 86.7%;
    margin: 0 auto;
  }
  .our {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .our .our__title {
    margin-bottom: 42px;
    font-size: 25px;
    line-height: 32px;
  }
  .wrapper__dog {
    justify-content: flex-start;
    padding-bottom: 42px;
  }
  .wrapper__dog .card:nth-child(4), .wrapper__dog .card:nth-child(3) {
    display: none;
  }
  .wrapper__dog .card:nth-child(2) {
    margin-right: 40px;
    margin-left: 12px;
  }
  .wrapper__dog .card:nth-child(3) {
    margin-right: 12px;
  }
  .wrapper__dog .arrow__left:nth-child(1) {
    order: 1;
    margin-left: 58px;
    margin-right: 80px;
    margin-top: 20px;
  }
  .wrapper__dog .arrow__left:nth-child(5) {
    order: 2;
    margin-top: 20px;
  }
  .help__title {
    margin-top: 42px;
    margin-bottom: 42px;
    font-size: 25px;
    line-height: 32px;
  }
  .benefits {
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 42px;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 30px;
    justify-content: space-between;
  }
  .benefits .benefits__card {
    width: 130px;
    height: 87px;
  }
  .benefits .benefits__card .benifits__title {
    font-size: 15px;
    line-height: 17%;
    margin-top: 20px;
  }
  .benefits .benefits__card .cards {
    width: 38.47%;
  }
  .donation {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .right__section-donat .donation__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
  .right__section-donat .donation__subtitle {
    letter-spacing: 0;
    text-align: center;
  }
  .right__section-donat .donation__card-pay {
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .right__section-donat .donation__card-pay .pay__links {
    font-size: 15px;
    line-height: 17px;
  }
  .right__section-donat .donation__description {
    text-align: justify;
    max-width: 280px;
    margin: 0 auto;
  }
  .dontation__wrapper {
    flex-direction: column;
    gap: 42px;
  }
  .donat__dog {
    max-width: 86.67%;
    margin: 0 auto;
    display: block;
  }
  .footer {
    padding-top: 30px;
  }
  .footer .footer__wrapper {
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-around;
    row-gap: 40px;
  }
  .footer .footer__wrapper .footer__dog {
    max-width: 86.9%;
  }
  .footer .footer__description-one {
    text-align: center;
  }
  .footer .footer__description-one .description__title {
    font-size: 25px;
    line-height: 32px;
    margin: 0 auto;
  }
  .footer .footer__description-one .description__email {
    justify-content: center;
  }
  .footer .footer__description-one .description__phone {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */